src/main/resources/mule/app/mule-encrypt-large-file.xml
<?xml version="1.0" encoding="UTF-8"?><mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"	xmlns:atom="http://www.mulesoft.org/schema/mule/atom" xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax"	xmlns:bpm="http://www.mulesoft.org/schema/mule/bpm" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"	xmlns:smtps="http://www.mulesoft.org/schema/mule/smtps" xmlns:pop3="http://www.mulesoft.org/schema/mule/pop3"	xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:pop3s="http://www.mulesoft.org/schema/mule/pop3s"	xmlns:imap="http://www.mulesoft.org/schema/mule/imap" xmlns:imaps="http://www.mulesoft.org/schema/mule/imaps"	xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:ejb="http://www.mulesoft.org/schema/mule/ejb"	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:file="http://www.mulesoft.org/schema/mule/file"	xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns:http="http://www.mulesoft.org/schema/mule/http"	xmlns:jbossts="http://www.mulesoft.org/schema/mule/jbossts" xmlns:jdbc="http://www.mulesoft.org/schema/mule/jdbc"	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"	xmlns:jaas="http://www.mulesoft.org/schema/mule/jaas" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey"	xmlns:jetty-ssl="http://www.mulesoft.org/schema/mule/jetty-ssl"	xmlns:jetty="http://www.mulesoft.org/schema/mule/jetty"	xmlns:management="http://www.mulesoft.org/schema/mule/management"	xmlns:client="http://www.mulesoft.org/schema/mule/client" xmlns:test="http://www.mulesoft.org/schema/mule/test"	xmlns:multicast="http://www.mulesoft.org/schema/mule/multicast"	xmlns:ognl="http://www.mulesoft.org/schema/mule/ognl" xmlns:pgp="http://www.mulesoft.org/schema/mule/pgp"	xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz" xmlns:jnp="http://www.mulesoft.org/schema/mule/jnp"	xmlns:rmi="http://www.mulesoft.org/schema/mule/rmi" xmlns:rss="http://www.mulesoft.org/schema/mule/rss"	xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"	xmlns:ssl="http://www.mulesoft.org/schema/mule/ssl" xmlns:sxc="http://www.mulesoft.org/schema/mule/sxc"	xmlns:servlet="http://www.mulesoft.org/schema/mule/servlet"	xmlns:spring-security="http://www.mulesoft.org/schema/mule/spring-security"	xmlns:stdio="http://www.mulesoft.org/schema/mule/stdio" xmlns:tcp="http://www.mulesoft.org/schema/mule/tcp"	xmlns:udp="http://www.mulesoft.org/schema/mule/udp" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"	xmlns:mule-xml="http://www.mulesoft.org/schema/mule/xml" xmlns:xmpp="http://www.mulesoft.org/schema/mule/xmpp"	xmlns:spring="http://www.springframework.org/schema/beans"	xmlns:context="http://www.springframework.org/schema/context"	xsi:schemaLocation="          http://www.mulesoft.org/schema/mule/atom http://www.mulesoft.org/schema/mule/atom/3.3/mule-atom.xsd          http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/3.3/mule-ajax.xsd          http://www.mulesoft.org/schema/mule/bpm http://www.mulesoft.org/schema/mule/bpm/3.3/mule-bpm.xsd          http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.3/mule-cxf.xsd          http://www.mulesoft.org/schema/mule/smtps http://www.mulesoft.org/schema/mule/smtps/3.3/mule-smtps.xsd          http://www.mulesoft.org/schema/mule/pop3 http://www.mulesoft.org/schema/mule/pop3/3.3/mule-pop3.xsd          http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/3.3/mule-smtp.xsd          http://www.mulesoft.org/schema/mule/pop3s http://www.mulesoft.org/schema/mule/pop3s/3.3/mule-pop3s.xsd          http://www.mulesoft.org/schema/mule/imap http://www.mulesoft.org/schema/mule/imap/3.3/mule-imap.xsd          http://www.mulesoft.org/schema/mule/imaps http://www.mulesoft.org/schema/mule/imaps/3.3/mule-imaps.xsd          http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/3.3/mule-email.xsd          http://www.mulesoft.org/schema/mule/ejb http://www.mulesoft.org/schema/mule/ejb/3.3/mule-ejb.xsd          http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/3.3/mule-ftp.xsd          http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/3.3/mule-file.xsd          http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/3.3/mule-https.xsd          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.3/mule-http.xsd          http://www.mulesoft.org/schema/mule/jbossts http://www.mulesoft.org/schema/mule/jbossts/3.3/mule-jbossts.xsd          http://www.mulesoft.org/schema/mule/jdbc http://www.mulesoft.org/schema/mule/jdbc/3.3/mule-jdbc.xsd          http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/3.3/mule-jms.xsd          http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.3/mule-scripting.xsd          http://www.mulesoft.org/schema/mule/jaas http://www.mulesoft.org/schema/mule/jaas/3.3/mule-jaas.xsd          http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/3.3/mule-jersey.xsd          http://www.mulesoft.org/schema/mule/jetty-ssl http://www.mulesoft.org/schema/mule/jetty-ssl/3.3/mule-jetty-ssl.xsd          http://www.mulesoft.org/schema/mule/jetty http://www.mulesoft.org/schema/mule/jetty/3.3/mule-jetty.xsd          http://www.mulesoft.org/schema/mule/management http://www.mulesoft.org/schema/mule/management/3.3/mule-management.xsd          http://www.mulesoft.org/schema/mule/client http://www.mulesoft.org/schema/mule/client/3.3/mule-client.xsd          http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/3.3/mule-test.xsd          http://www.mulesoft.org/schema/mule/multicast http://www.mulesoft.org/schema/mule/multicast/3.3/mule-multicast.xsd          http://www.mulesoft.org/schema/mule/ognl http://www.mulesoft.org/schema/mule/ognl/3.3/mule-ognl.xsd          http://www.mulesoft.org/schema/mule/pgp http://www.mulesoft.org/schema/mule/pgp/3.3/mule-pgp.xsd          http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/3.3/mule-quartz.xsd          http://www.mulesoft.org/schema/mule/jnp http://www.mulesoft.org/schema/mule/jnp/3.3/mule-jnp.xsd          http://www.mulesoft.org/schema/mule/rmi http://www.mulesoft.org/schema/mule/rmi/3.3/mule-rmi.xsd          http://www.mulesoft.org/schema/mule/rss http://www.mulesoft.org/schema/mule/rss/3.3/mule-rss.xsd          http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/3.3/mule-sftp.xsd          http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/3.3/mule-tls.xsd          http://www.mulesoft.org/schema/mule/ssl http://www.mulesoft.org/schema/mule/ssl/3.3/mule-ssl.xsd          http://www.mulesoft.org/schema/mule/sxc http://www.mulesoft.org/schema/mule/sxc/3.3/mule-sxc.xsd          http://www.mulesoft.org/schema/mule/servlet http://www.mulesoft.org/schema/mule/servlet/3.3/mule-servlet.xsd          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.3/mule.xsd          http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/3.3/mule-spring-security.xsd          http://www.mulesoft.org/schema/mule/stdio http://www.mulesoft.org/schema/mule/stdio/3.3/mule-stdio.xsd          http://www.mulesoft.org/schema/mule/tcp http://www.mulesoft.org/schema/mule/tcp/3.3/mule-tcp.xsd          http://www.mulesoft.org/schema/mule/udp http://www.mulesoft.org/schema/mule/udp/3.3/mule-udp.xsd          http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.3/mule-vm.xsd          http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/3.3/mule-xml.xsd          http://www.mulesoft.org/schema/mule/xmpp http://www.mulesoft.org/schema/mule/xmpp/3.3/mule-xmpp.xsd          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd		  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">	<spring:beans>		<spring:bean id="pgpKeyManager" class="org.mule.module.pgp.PGPKeyRingImpl"			init-method="initialise">			<spring:property name="publicKeyRingFileName" value="pubring.gpg" />			<spring:property name="secretKeyRingFileName" value="secring.gpg" />			<spring:property name="secretAliasId" value="-2545368991351349478" />			<spring:property name="secretPassphrase" value="thepassphrase" />		</spring:bean>		<spring:bean id="credentialAccessor"			class="org.works.message.support.FakeCredentialAccessor">			<spring:property name="credentials"				value="Bugs Bunny &lt;bugs@example.com&gt;" />		</spring:bean>	</spring:beans>	<pgp:security-manager>		<pgp:security-provider name="pgpSecurityProvider"			keyManager-ref="pgpKeyManager" />		<pgp:keybased-encryption-strategy			name="keyBasedEncryptionStrategy" credentialsAccessor-ref="credentialAccessor"			keyManager-ref="pgpKeyManager" />	</pgp:security-manager>	<encrypt-transformer name="encryptTransformer"		strategy-ref="keyBasedEncryptionStrategy" />	<file:connector name="encryptFileConnector" autoDelete="true"		streaming="true" outputPattern="#[string:#[header:originalFilename].pgp]"		pollingFrequency="1800000" />	<flow name="Large File Flow" processingStrategy="asynchronous">		<file:inbound-endpoint name="fileIn"			path="${encrypt.incoming.path}" connector-ref="encryptFileConnector" />		<logger message="Encryption started..." level="INFO" />		<file:outbound-endpoint name="fileOut"			path="${encrypt.outgoing.path}" transformer-refs="encryptTransformer" connector-ref="encryptFileConnector"/>		<logger message="Encryption ended..." level="INFO" />	</flow></mule>		  