src/main/resources/mule/app/mule-config-schedule.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:jdbc="http://www.mulesoft.org/schema/mule/jdbc" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:bpm="http://www.mulesoft.org/schema/mule/bpm"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:smtps="http://www.mulesoft.org/schema/mule/smtps" xmlns:pop3="http://www.mulesoft.org/schema/mule/pop3"
	xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:pop3s="http://www.mulesoft.org/schema/mule/pop3s"
	xmlns:imap="http://www.mulesoft.org/schema/mule/imap" xmlns:imaps="http://www.mulesoft.org/schema/mule/imaps"
	xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:ejb="http://www.mulesoft.org/schema/mule/ejb" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:management="http://www.mulesoft.org/schema/mule/management"
	xmlns:client="http://www.mulesoft.org/schema/mule/client" xmlns:test="http://www.mulesoft.org/schema/mule/test"
	xmlns:multicast="http://www.mulesoft.org/schema/mule/multicast" xmlns:ognl="http://www.mulesoft.org/schema/mule/ognl"
	xmlns:pgp="http://www.mulesoft.org/schema/mule/pgp" xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz"
	xmlns:rmi="http://www.mulesoft.org/schema/mule/rmi" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:ssl="http://www.mulesoft.org/schema/mule/ssl" xmlns:spring-security="http://www.mulesoft.org/schema/mule/spring-security"
	xmlns:stdio="http://www.mulesoft.org/schema/mule/stdio" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:mule-xml="http://www.mulesoft.org/schema/mule/xml" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/bpm http://www.mulesoft.org/schema/mule/bpm/3.4/mule-bpm.xsd
		    http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/3.4/mule-cxf.xsd
		    http://www.mulesoft.org/schema/mule/smtps http://www.mulesoft.org/schema/mule/smtps/3.4/mule-smtps.xsd
		    http://www.mulesoft.org/schema/mule/pop3 http://www.mulesoft.org/schema/mule/pop3/3.4/mule-pop3.xsd
		    http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/3.4/mule-smtp.xsd
            http://www.mulesoft.org/schema/mule/pop3s http://www.mulesoft.org/schema/mule/pop3s/3.4/mule-pop3s.xsd
            http://www.mulesoft.org/schema/mule/imap http://www.mulesoft.org/schema/mule/imap/3.4/mule-imap.xsd
            http://www.mulesoft.org/schema/mule/imaps http://www.mulesoft.org/schema/mule/imaps/3.4/mule-imaps.xsd
            http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/3.4/mule-email.xsd
            http://www.mulesoft.org/schema/mule/ejb http://www.mulesoft.org/schema/mule/ejb/3.4/mule-ejb.xsd
            http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/3.4/mule-ftp.xsd
            http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/3.4/mule-file.xsd
            http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/3.4/mule-https.xsd
            http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.4/mule-http.xsd
            http://www.mulesoft.org/schema/mule/jdbc http://www.mulesoft.org/schema/mule/jdbc/3.4/mule-jdbc.xsd
            http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/3.4/mule-jms.xsd
            http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/3.4/mule-json.xsd
            http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.4/mule-scripting.xsd
            http://www.mulesoft.org/schema/mule/management http://www.mulesoft.org/schema/mule/management/3.4/mule-management.xsd
            http://www.mulesoft.org/schema/mule/client http://www.mulesoft.org/schema/mule/client/3.4/mule-client.xsd
            http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/3.4/mule-test.xsd
            http://www.mulesoft.org/schema/mule/multicast http://www.mulesoft.org/schema/mule/multicast/3.4/mule-multicast.xsd
            http://www.mulesoft.org/schema/mule/ognl http://www.mulesoft.org/schema/mule/ognl/3.4/mule-ognl.xsd
            http://www.mulesoft.org/schema/mule/pgp http://www.mulesoft.org/schema/mule/pgp/3.4/mule-pgp.xsd
            http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/3.4/mule-quartz.xsd
            http://www.mulesoft.org/schema/mule/rmi http://www.mulesoft.org/schema/mule/rmi/3.4/mule-rmi.xsd
            http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/3.4/mule-sftp.xsd
            http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/3.4/mule-tls.xsd
            http://www.mulesoft.org/schema/mule/ssl http://www.mulesoft.org/schema/mule/ssl/3.4/mule-ssl.xsd
            http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.4/mule.xsd
            http://www.mulesoft.org/schema/mule/spring-security http://www.mulesoft.org/schema/mule/spring-security/3.4/mule-spring-security.xsd
            http://www.mulesoft.org/schema/mule/stdio http://www.mulesoft.org/schema/mule/stdio/3.4/mule-stdio.xsd
            http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.4/mule-vm.xsd
            http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/3.4/mule-xml.xsd
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
		  

	<file:connector name="scheduleFileConnector" streaming="false"
		autoDelete="true" pollingFrequency="15000">
		<file:expression-filename-parser />
	</file:connector>

	<flow name="SchedulingFlow" doc:name="SchedulingFlow"
		processingStrategy="synchronous">
		<inbound-endpoint address="http://localhost:8080/rest"
			doc:name="REST Server" exchange-pattern="request-response" />
		<set-session-variable variableName="appointment"
			value="#[payload]" doc:name="Set Appointment = Payload" />
		<logger message="#[appointment]" level="INFO" doc:name="Logger" />
		<flow-ref name="MakeAppointmentFlow"  />
	</flow>
	<sub-flow name="MakeAppointmentFlow" >
		<flow-ref name="isPatientAlive" />
		<flow-ref name="makeAppointment" />
		<flow-ref name="sendCalendarReminder"/>
		<flow-ref name="choiceCommunication"/>
	</sub-flow>
	<sub-flow name="isPatientAlive" doc:name="isPatientAlive">
		<set-payload value="IBM" doc:name="Set Payload" />
		<echo-component doc:name="Echo" />
		<cxf:jaxws-client operation="GetQuote"
			clientClass="org.works.message.ws.StockQuote" port="StockQuoteSoap"
			enableMuleSoapHeaders="true" doc:name="SOAP" />
		<http:outbound-endpoint exchange-pattern="request-response"
			address="http://www.webservicex.net/stockquote.asmx" doc:name="HTTP" />
		<file:outbound-endpoint path="${data.path}"
			outputPattern="mule_esb_2.txt" responseTimeout="10000" doc:name="File"
			connector-ref="scheduleFileConnector" />
		<logger message="#[payload]" level="INFO" doc:name="Logger" />
		<echo-component doc:name="Echo" />
	</sub-flow>
	<sub-flow name="makeAppointment" doc:name="makeAppointment">
		<set-payload value="#[appointment]" doc:name="Set Payload" />
		<echo-component doc:name="Echo" />
	</sub-flow>
	<sub-flow name="sendCalendarReminder" doc:name="sendCalendarReminder">
		<echo-component doc:name="Echo" />
	</sub-flow>
	<sub-flow name="choiceCommunication" doc:name="choiceCommunication">
		<echo-component doc:name="Echo" />
	</sub-flow>
</mule>
